/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: PressStart2P;
  --article-font-family: Inter;
  --main-font-weight: 400;
  --article-headers-font-wght: 700;
  --article-font-wght: var(--main-font-weight);
  --main-bg-color: #FFFFFF;
  --accent-color: #000000;
  --hover-content-button-bg-color: var(--main-bg-color);
  --main-bg-repeating-linear-gradient: #d3d3d3;
  --main-bg-linear-gradient: #e7e7e7 0.01%, #1a1a1a;
  --main-inline-size: clamp(375px, 16.2852rem + 30.5164vw, 700px);
  --header-padding-block: clamp(120px, 7.1479rem + 1.5023vw, 136px) 25px;
  --header-logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --header-title-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --color-stroke-img-label: var(--main-bg-color);
  --inset-inline-end-img-label: clamp(11px, 0.3794rem + 1.3146vw, 25px);
  --inset-inline-block-img-label: clamp(23px, 1.3935rem + 0.1878vw, 25px);
  --heart-sparks-color: #FF0000;
  --bg-color-pop-up_backdrop: #000000;
}